## Forge configuration (uncomment/adjust as needed)
# FOUNDRY_BROADCAST=true
# FOUNDRY_SLOW=true
# FOUNDRY_VERBOSITY=3
# ETH_PRIVATE_KEY=0x...
# FOUNDRY_VERIFY=true

## Chain and contract addresses
PARENT_CHAIN_RPC=
UPGRADE_ACTION_ADDRESS=
INBOX_ADDRESS=
PROXY_ADMIN_ADDRESS=
PARENT_UPGRADE_EXECUTOR_ADDRESS=
TARGET_WASM_MODULE_ROOT=0x184884e1eb9fefdc158f6c8ac912bb183bf3cf83f0090317e0bc4ac5860baa39
PARENT_CHAIN_IS_ARBITRUM=true