## Forge configuration (uncomment/adjust as needed)
# FOUNDRY_BROADCAST=true
# FOUNDRY_SLOW=true
# FOUNDRY_VERBOSITY=3
# ETH_PRIVATE_KEY=0x...

## Chain and contract addresses
CHILD_CHAIN_RPC=
UPGRADE_ACTION_ADDRESS="0x7A132A8130a0C2dCeABd1FDb42ed01FCf6B9494a"
CHILD_UPGRADE_EXECUTOR_ADDRESS="0x059EF6e2CaA4d779e087273646EfF49ef45dBD81"
ARBOS_VERSION=20
SCHEDULE_TIMESTAMP=1709229600
