## Forge configuration (uncomment/adjust as needed)
## All FOUNDRY_* env vars are supported: https://book.getfoundry.sh/reference/config/
# FOUNDRY_BROADCAST=true
# ETH_PRIVATE_KEY=0x...

## Chain and contract addresses
PARENT_CHAIN_RPC=
ROLLUP_ADDRESS=
UPGRADE_ACTION_ADDRESS=0x352b46fc500757e07a7e6063870c3a2b2c72da90
PARENT_UPGRADE_EXECUTOR_ADDRESS=
